body, div, p, h1, h2, h3, span{
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: sans-serif;
}

#container {
    width: 90%;
    padding: 5%;
    margin-top: 2em;
}

#label {
    margin-bottom: 2em;
}

#textarea {
    width: 100%;
    margin-bottom: 1em;
    font-family: sans-serif;
}

#btn {
    width: 100%;
    height: 3em;
    margin-bottom: 2.5em;
}

